

<div class="row justify-content-center">

  <% @portfolio_items.each do |portfolio| %>


    <%= link_to image_tag(portfolio.thumb_image), portfolio_show_path(portfolio.id), 
    class: "card", 
    data: { draggable: true } %>

    <% end %>


  <div id="portfolio-items" class="dropzone">
  <h1>portfolio items</h1>
  </div>

</div>




         <!-- <#%= render partial: 'portfolio_item', collection: @portfolio_items %> -->
