



    <div id="portfolios" class="list-group">

            <% @portfolio_items.each do |portfolio| %>

              <%= link_to portfolio.title, portfolio_show_path(portfolio.id), 
              method: :get, class: "list-group-item", id: dom_id(portfolio), 
              class: "list-group-item" %>

            <% end %>

    </div>






         <!-- <#%= render partial: 'portfolio_item', collection: @portfolio_items %> -->
