

            <nav class="navbar navbar-fixed-top navbar--color--primary navbar--size--xl" data-startColor="navbar--color--primary" data-startSize="navbar--size--xl" data-intoColor="navbar--color--ghost" data-intoSize="navbar--size--md">


                  <div class="container justify-content-center">

                    <a class="d" href="#">
                      <div class="a" href="#"></div>
                    </a>

                    <div class="navbar-header">

                      <a class="navbar-brand" href="#">Step<br/>Technologies</a>

                    </div>

                  </div>

            </nav>


                <div class="hero"> </div>


                <%= javascript_include_tag 'header_nav.js' %>
                <%= javascript_include_tag 'block.js' %>

