



            <nav class="navbar navbar-fixed-top navbar--color--primary navbar--size--xl" data-startColor="navbar--color--primary" data-startSize="navbar--size--xl" data-intoColor="navbar--color--ghost" data-intoSize="navbar--size--md">

                <div class="container justify-content-center">

                  <div class="navbar-header">


                    <a class="navbar-brand" href="#">S t e p<br/>T e c h n o l o g i e s</a>
                  </div>



                </div>
            </nav>


                <div class="hero">
                  <div class="overlay"></div>
                </div>

                <%= javascript_include_tag 'header_nav.js' %>

