        <!-- start of sidebar -->
        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h5>About</h5>
            <p><em>Step Technologies</em> strives not only to provide great marketing and software,
              but also the right information resources and research for people just finding
              the company. </p>
              <p> We plant our flag atop the never ending summit 
                  of the mountain that is technological progress, for your sake and ours. </p>
          </div>

          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled social-links">

              <li><a href="#"><%= fa_icon "github" %></li></a>

              <li><a href="#"><%= fa_icon "twitter" %></a></li>
              
            </ol>
          </div>
        </div>
        <!-- end of sidebar -->
        