        

        <footer class="blog-footer">

            <a href="#">Back to top</a>
          </p>
        <%= render "shared/nav", location: 'bottom' %>

        <%= source_helper("blog") %>
        </footer>


        