<br>
<body>
<br>
<h1> How can I help you? </h1>
<p>

I want to provide you with the ability to take your 
vision of how you want to present yourself on the web
and make it a reality. This requires solid communication
from both parties. I know how challenging it can be, 
especially if you don't have technical skill in creating this sort of
thing, to make the design and the feel of your company the way YOU
want it. I understand how important branding and personality is
to this sort of work and I take it into very careful consideration.

<h2>
A little about the Tech I use:
</h2>

Ruby is a very powerful object oriented computer programming language that
runs on your desktop machine, and can be used to make iphone and android apps. 

Rails is a framework which allows you to build a "web application"
with which you can build out advanced data models with the ruby coding language
interfacing with the html and javascript inside the site. It is very secure and
provides tremendous value toward your goals.

<hr>
Huge companies like Google, Youtube, and Twitter use Ruby as a 
primary development language, amonst other valuable technologies. I'm sure you've been 
on a junky website that had cool features but just didn't feel very... Robust?
This is exactly why I focus on using cutting edge tech to provide top notch applications.
<hr>

<h3>
This means more (less break-y) 
functionality for your site such as 
Blogs, eCommerce, calendars, data organization, data visualization, 
and better security.
</h3>

<h2>
Better search rankings = More Business
</h2>
</p>
</body>


<hr>