


  <%= stylesheet_pack_tag 'email' %>

  <%= javascript_pack_tag 'application' %>

  <%= react_component "App" %>



<div class="wrapper">

  <div id="inbox"></div>

  <div class="footer">If you're seeing this, the application pooped the bed</div>

</div>

