


  <%= stylesheet_pack_tag 'email' %>


  <%= javascript_pack_tag 'application' %>


<%= react_component('App') %>


<div class="wrapper">
  <div id="inbox"></div>
  <div class="footer">Built with React and powered by ES6.</div>
</div>