      

<div class="inner cover">
  <h1 class="cover-heading"> Let's Work Together </h1>
<hr>
  <p class="lead"> 

  <h3>Headache-free Web Development.</h3> 
  People need high quality websites for their businesses and personal needs, but many aren't sure where to start
  when it comes down to a professional website. There are many advanced web frameworks that allow you powerful
  visibility to your clients, and provide features that would otherwise be clunky or slow, even nonexistent with solutions such as wix or wordpress.

</p>
<br>
<hr>
 <p class="lead"> 

  With many companies offering tinkertoy solutions, 
  many are not aware of the problems with such elementary products. Here I'll show you the
  difference between a professionally made, scalable solution, and something that can be made with
  a website builder in twenty minutes.

</p>

<p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-secondary" %>
</p>
</div>




