

  

<div class="container">

  <div class="row justify-content-center">



        <div class="col-md-12">

          <div class="card-darkbg justify-content-center">

            <br>

            <h2> What Nexus Does: </h2>

            <hr>

            <h3>
              
            - Agile Web Design
              <br/>
            - Business Technology Solutions
              <br/>
            - Lead Generation
              <br/>
            - Data Analysis and Visualization
              <br/>
            - Machine Learning
              <br/>
            - Digital and Grassroots Marketing
              <br/>
            - Photography
              <br/>
            - Videography
              <br/>
            - Art Installations

            </h3>

            <hr>

            <h3>

              In the online war for attention,

              <br/>

              technology research, web design, 

              <br/>

              sales, and new business development 
              <br/>
              go hand-in-hand. 

            </h3>   

            <hr>

              <h3> Aiming to bring you new business with artistic 
                <br/>
              implementation of profit-focused web design & marketing</h3> 

            <br>

            <hr>


             <h3> 

              Many companies offer tinkertoy solutions, 
              <br/>
              many business owners are not aware of
              <br/>
              the issues with such products.
              <br/>
              Using the appropriate design principles,
              <br/>
              sales psychology, 
              <br/>
              and the latest technology,
              <br/>
              we make sure your business is found
              <br/>
              to generate a strong return for your 
              <br/>
              investment. 
              <br/>
              There are no cookie-cutters in our kitchen.
              <hr>
            </h3>

            <p class="lead">
              <br>
                <%= link_to "More Info", about_me_path, class: "btn btn-secondary", method: :get %>
              <br>
              <br>
              <br>
                <%= link_to "Contact", new_message_path, class: "btn btn-secondary", method: :get %>
              <br>
              <br>
            </p>

          <hr>

<br>

<div class="row justify-content-center">
<br>
    <button class="btn btn-outline-success">
      <a href="tel:9152419291" "call me">
        <p>
        <br>
        <br>
        Press & hold to talk on the phone
        <br/>
        915-241-9291
        <br>
        <br>
        </p>
      </a>
    </button>
</div>



        </div>
      </div>


<!-- end row 1 -->
  </div>
<!-- end row 1 -->


<div class="row justify-content-center">

    <div class="col-md-5">


    </div>

</div>




  <div class="row justify-content-center">
    
    <div class="col-md-8">

        <div class="flex">
          <div class="block">
            <a href="#0" class="toggle"></a>
              <div class="smallblockcontent">
                [click me]
              </div>
                  <div class="content">
                  <h2></h2>


                  <p-small-green> 

                    We have fun doing it. We are curious, inventive, creative, artistic and 
                    some would say a little eccentric.
                    Making is in our blood. 
                    Creation is from a higher place, we dream big, yearning, searching, 
                    exploring the depths of intrigue and solving problems. 
                    We research and strive to eventually advance our venture into the 
                    heights of wonder. 
                    More soon. Stay in the loop.

                  </p-small-green>


                  </div>
          </div>
        </div>

                  <%= javascript_include_tag 'block.js' %>
                  
    </div>

  </div>

</div>