
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div id="card-darkbg" class="card-darkbg justify-content-center">
      <hr>
        <br>
          <h2> Nexus 
          <br/> is a 
          <br/>Technology Development
          <br/>&
          <br/>Marketing Firm.
          <br>
          <br/> We specialize in:
          </h2>
      <hr>

        <div id="webdesign" class="servicetitle">
          <h3>
        Agile<br/>Web<br/>Design
          </h3>
        </div>

        <div id="technologysolutions" class="servicetitle">
          <h3>
        Business<br/>Technology<br/>Solutions
          </h3>
        </div>

        <div id="leadgeneration" class="servicetitle">
          <h3>
        Lead
        <br/>
        Generation
          </h3>
        </div>

        <div id="datavisualization" class="servicetitle">
          <h3>
        Data<br/>Analysis<br/>and<br/>Visualization
          </h3>
        </div>

        <div id="machinelearning" class="servicetitle">
          <h3>
        Machine<br/>Learning<br/>Applications
          </h3>
        </div>

        <div id="grassrootsmarketing" class="servicetitle">
          <h3>
        Digital<br/>and<br/>Grassroots<br/>Marketing
          </h3>
        </div>

        <div id="photography" class="servicetitle">
          <h3>
        Photography
          </h3>
        </div>

        <div id="videography" class="servicetitle">
          <h3>
        Videography
          </h3>
        </div>

      
        <div id="artinstallations" class="servicetitle">
          <h3>
        Art<br/>Installations
          </h3>
        </div>


      <hr>

      
      <div id="onlinewar" class="servicetitle">
        <h2>
          In the online war for attention,
          <br/>
          technology research, web design, 
          <br/>
          sales, and new business development 
          <br/>
          go hand-in-hand. 
        </h2>   
      </div>

      <div id="profitfocuseddesign" class="servicetitle">
        <hr>
          <h2> We aim to bring you new business with 
          <br/>artistic and technologically sound
          <br/>
          implementation of profit-focused 
          <br/>
          web design & marketing
          </h2> 
        <hr>
      </div>


      <div id="tinkertoy" class="servicetitle">
        <h2>
          <hr>
          Many companies offer tinkertoy solutions, 
          <br/>
          many business owners are not aware of
          <br/>
          the consequences for using inferior technology.
          <br/>
          Using the appropriate design principles,
          <br/>
          sales psychology, 
          <br/>
          and the latest technology,
          <br/>
          we make sure your business is found to
          <br/>
          generate a strong return on
          <br/>
          investment. 
          <br/>
          <hr>
        </h2>
      </div>


      <div id="aboutcontact" class="servicetitle">
        <p class="lead">
          <br>
          <%= link_to "More Info", about_me_path, class: "btn btn-secondary", method: :get %>
          <br>
          <br>
          <br>
          <%= link_to "Contact", new_message_path, class: "btn btn-secondary", method: :get %>
          <br>
          <br>
        </p>
      </div>


      <hr>

<br>

<div class="row justify-content-center">
<br>
    <button class="btn btn-outline-success">
      <a href="tel:9152419291" "call me">
        <p>
        <br>
        <br>
        Press & hold to talk on the phone
        <br/>
        915-241-9291
        <br>
        <br>
        </p>
      </a>
    </button>

</div>

        <br>
        <br>

        </div>
      </div>


<!-- end row 1 -->
  </div>
<!-- end row 1 -->


<div class="row justify-content-center">

    <div class="col-md-5">


    </div>

</div>
<!-- 
<p-small-green> 

  We have fun doing it. We are curious, inventive, creative, artistic and 
  some would say a little eccentric.
  Making is in our blood. 
  Creation is from a higher place, we dream big, yearning, searching, 
  exploring the depths of intrigue and solving problems. 
  We research and strive to eventually advance our venture into the 
  heights of wonder. 
  More soon. Stay in the loop.

</p-small-green>
-->
















</div>