
<div class="container">
  



  <div class="row justify-content-center">

    <div class="col-sm-10">

        <div class="transbox">
          <br>
          <h1 class="cover-heading"> Let's Work Together </h1>
          <hr>
          <h1 class="cover-heading"> Agile Web Design and Lead Generation </h1>
          <hr>

          <div>
            In the online war for their attention, Technology-research, Web Design, Sales and New Business Development go hand-in-hand. 
          </div> 

          <p class="lead"> 
          </p>

          <hr>
            <h3> Blending art and function to convert new business with digital experience </h3> 
          <br>
          <hr>
           <p class="lead"> 

            With many companies offering tinkertoy solutions, 
            many business owners are not aware of the problems with such elementary products.
            Using the appropriate design principles, sales psychology, and the latest technology to
            get you found, we can help you generate a powerful return on your investment. 

          </p>

          <p class="lead">
              <%= link_to "SOLUTIONS", about_me_path, class: "btn btn-secondary" %>
          </p>
        <hr>
      </div>

      

    </div>

<!-- end row 1 -->
</div>



  <div class="row justify-content-center">
    
    <div class="col-md-8">

        <div class="flex">
          <div class="block">
            <a href="#0" class="toggle"></a>
              <div class="smallblockcontent">
                [click me]
              </div>
                  <div class="content">
                  <h2> Our Core Philosohy </h2>





                  <p>  </p>





            </div>
          </div>
        </div>

                  <%= javascript_include_tag 'block.js' %>
                  


    </div>

  </div>











</div>