


<div class="inner cover">

    <div class="transbox">


  <h1 class="cover-heading"> Let's Work Together </h1>
<hr>

<div class="glitch" data-text="In the online war for money, conquest, web design, Sales and New Business Development go hand-in-hand.">
  In the online war for their attention, Technology-research, Web design, Sales and New Business Development go hand-in-hand. 
</div> 


  <p class="lead"> 


</p>
<hr>
<h3> Blending art and function to convert new business with digital experience </h3> 
<br>
<hr>
 <p class="lead"> 

  With many companies offering tinkertoy solutions, 
  many are not aware of the problems with such elementary products.
  Using the appropriate design principles, sales psychology, and the latest technology to
  get you found, we can help you generate a powerful return on your investment. 

</p>

<p class="lead">
    <%= link_to "S O L U T I O N S", about_me_path, class: "btn btn-secondary" %>
</p>

<hr>

</div>

</div>



