

  

<div class="container">

  <div class="row justify-content-center">



        <div class="col-md-7">

          <div class="card justify-content-center">

            <br>

            <h1> Let's Work Together </h1>

            <hr>

            <h1> Agile Web Design
              <br/>
             and 
              <br/>
            Lead Generation </h1>

            <hr>

            <p>

              In the online war for attention:

              <br/>

              Technology-research, Web Design, 

              <br/>

              Sales, and New Business Development 
              <br/>
              go hand-in-hand. 

            </p> 

            <p class="lead"> 
            </p>

            <hr>

              <h3> Aiming to bring you new business with artistic 
                <br/>
              implementation of profit-focused web design & marketing</h3> 

            <br>

            <hr>


             <p> 

              Many companies offer tinkertoy solutions, 
              <br/>
              many business owners are not aware of
              <br/>
              the differences and issues with these products.
              <br/>
              Using appropriate select design principles,
              <br/>
              sales psychology, 
              <br/>
              and the latest technology,
              <br/>
              we'll make sure your business is found
              <br/>
              to help you generate a strong return for your 
              <br/>
              investment. 

            </p>

            <p class="lead">
                <%= link_to "SOLUTIONS", about_me_path, class: "btn btn-secondary" %>
            </p>

          <hr>

        </div>
      </div>


<!-- end row 1 -->
  </div>
<!-- end row 1 -->



  <div class="row justify-content-center">
    
    <div class="col-md-8">

        <div class="flex">
          <div class="block">
            <a href="#0" class="toggle"></a>
              <div class="smallblockcontent">
                [click me]
              </div>
                  <div class="content">
                  <h2> Our Core Philosohy </h2>


                  <p>  </p>


                  </div>
          </div>
        </div>

                  <%= javascript_include_tag 'block.js' %>
                  
    </div>

  </div>

</div>