

  

<div class="container">

  <div class="row justify-content-center">



        <div class="col-md-12">

          <div class="card-darkbg justify-content-center">

            <br>

            <h2> Let's Work Together </h2>

            <hr>

            <h3> 
            Agile Web Design
              <br/>
            Business Technology Solutions
              <br/>
            Lead Generation 
              <br/>
            Marketing
              <br/>
            Videography
            </h3>

            <hr>

            <h3>

              In the online war for attention,

              <br/>

              Technology-research, Web Design, 

              <br/>

              Sales, and New Business Development 
              <br/>
              go hand-in-hand. 

            </h3>   

            <hr>

              <h3> Aiming to bring you new business with artistic 
                <br/>
              implementation of profit-focused web design & marketing</h3> 

            <br>

            <hr>


             <h3> 

              Many companies offer tinkertoy solutions, 
              <br/>
              many business owners are not aware of
              <br/>
              the differences and issues with these products.
              <br/>
              Using the appropriate design principles,
              <br/>
              sales psychology, 
              <br/>
              and the latest technology,
              <br/>
              we'll make sure your business is found
              <br/>
              to help you generate a strong return for your 
              <br/>
              investment. There are no cookie-cutters in <u>our</u> kitchen.

            </h3>

            <p class="lead">
              <br>
                <%= link_to "SOLUTIONS", about_me_path, class: "btn btn-secondary", method: :get %>
            </p>

          <hr>



        <form>

          <h2>What do you need?</h2>

          <label>
            <input type="text" required />
            <div class="label-text">name</div>
          </label>

          <label>
            <input type="text" required />
            <div class="label-text">phone #</div>
          </label>

            <label>
            <input type="text" required />
            <div class="label-text">What You Need</div>
          </label>

          <label>
            <input type="text" required />
            <div class="label-text">A short message</div>
          </label>

          <button>Submit</button>

        </form>



        </div>
      </div>


<!-- end row 1 -->
  </div>
<!-- end row 1 -->


<div class="row justify-content-center">

    <div class="col-md-5">


    </div>

</div>




  <div class="row justify-content-center">
    
    <div class="col-md-8">

        <div class="flex">
          <div class="block">
            <a href="#0" class="toggle"></a>
              <div class="smallblockcontent">
                [click me]
              </div>
                  <div class="content">
                  <h2> Why? </h2>


                  <p> 

                    Because we have fun doing it. Because we are curious, inventive, artistic and eccentric.
                    Making is in our blood. Creation is from a higher place. Struck by curiosity, dreams high 
                    as the stars, yearning, searching, exploring the depths of intrigue and solving problems while doing it, 
                    we research and advance our venture into the heights of wonder. 
                    More from us soon. Stay in the loop.

                  </p>


                  </div>
          </div>
        </div>

                  <%= javascript_include_tag 'block.js' %>
                  
    </div>

  </div>

</div>