<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
    <!-- Generated: 2018-04-06 16:27:42 +0200 -->
    <title>Pricing cards - tabler.github.io - a responsive, flat and full featured admin template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">




    <%= stylesheet_link_tag    'pricing', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'pricing' %>


  </head>
<br>



<div class="row justify-content-center">
<a href="https://github.com/tabler/tabler" class="btn btn-sm btn-outline-primary" target="_blank">Not Ready Yet?</a>
</div>


        <div class="col-md-12">
          <div class="container-fluid">
            <div class="page-header">
              <h1 class="page-title">
                Pricing
              </h1>
            </div>



            <div class="row justify-content-center">

<div class="card-deck">

              <div class="col-4">
                <div class="card">
                  <div class="card-status bg-green"></div>
                  <div class="card-body text-center">
                    <div class="card-category">Solo Dolo</div>
                    <div class="display-3 my-4"> $800 </div>
                    <ul class="list-unstyled leading-loose">
                      <li><strong>One time </strong>, then only</li>
                      <li><strong>380/mo.</strong>To get you new business from Google searches</li>
                      <li><strong>Includes: </strong> </li>
                      <li>up to a <strong>5</strong> Page Web App </li>
                      <li><i class="fa fa-battery-full" aria-hidden="true"></i>  Ads Boost</li>
                      <li><i class="fa fa-dashboard" aria-hidden="true"></i>  CMS Dashboard</li>
                      <li><i class="fa fa-database" aria-hidden="true"></i>  Hosting</li>
                      <li><i class="fa fa-wrench" aria-hidden="true"></i>  Maintenance Support</li>
                      <li><i class="fa fa-gears" aria-hidden="true"></i>  Daily Ads Maintenance</li>
                    </ul>
                    <div class="text-center mt-6">
                      <a href="#" class="btn btn-green btn-block">Choose plan</a>
                    </div>
                  </div>
                </div>
              </div>



              <div class="col-4">
                <div class="card">
                  <div class="card-body text-center">
                    <div class="card-category">Enterprise</div>
                    <div class="display-3 my-4">$1200</div>
                    <ul class="list-unstyled leading-loose">
                      <li><strong>One Time Commitment</strong> </li>
                      <li><strong>+</strong> Monthly Google and Facebook ADS BOOST = MORE BUSINESS </li>
                      <li><strong>Up to 20</strong> Pages</li>
                      <li><i class="fa fa-bar-chart" aria-hidden="true"></i> Sharing Tools</li>
                      <li><i class="fa fa-bar-chart" aria-hidden="true"></i> Marketing tools</li>
                      <li><i class="fa fa-phone-square" aria-hidden="true"></i> Phone Support</li>
                      <li><i class="fa fa-database" aria-hidden="true"></i> Free Hosting for 1 year</li>
                    </ul>
                    <div class="text-center mt-6">
                      <a href="#" class="btn btn-secondary btn-block">Choose plan</a>
                    </div>
                  </div>
                </div>
              </div>



              <div class="col-4">
                <div class="card">
                  <div class="card-body text-center">
                    <div class="card-category">Custom Marketing Suite</div>
                    <div class="display-3 my-4">Call For Details</div>
                    <ul class="list-unstyled leading-loose">
                      <li><strong>20+</strong> Pages, Advanced Features:</li>
                      <li><i class="fa fa-dashboard" aria-hidden="true"></i> Marketing Tools</li>
                      <li><i class="fa fa-cubes" aria-hidden="true"></i> Content Creation</li>
                      <li><i class="fa fa-battery-full" aria-hidden="true"></i> Ads BOOST</li>
                      <li><i class="fa fa-flask" aria-hidden="true"></i> Algorithmic Marketing, Advanced Retargeting</li>
                      <li><i class="fa fa-terminal" aria-hidden="true"></i> API</li>
                    </ul>
                    <div class="text-center mt-6">
                      <a href="#" class="btn btn-secondary btn-block">Choose plan</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>





      <div class="footer">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="row">
                <div class="col-6 col-md-3">
                  <ul class="list-unstyled mb-0">
                    <li><a href="#">First link</a></li>
                    <li><a href="#">Second link</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md-3">
                  <ul class="list-unstyled mb-0">
                    <li><a href="#">Third link</a></li>
                    <li><a href="#">Fourth link</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md-3">
                  <ul class="list-unstyled mb-0">
                    <li><a href="#">Fifth link</a></li>
                    <li><a href="#">Sixth link</a></li>
                  </ul>
                </div>
                <div class="col-6 col-md-3">
                  <ul class="list-unstyled mb-0">
                    <li><a href="#">Other link</a></li>
                    <li><a href="#">Last link</a></li>
                  </ul>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="row align-items-center flex-row-reverse">
            <div class="col-auto ml-lg-auto">
              <div class="row align-items-center">

              </div>
            </div>

            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
              Copyright © 2018 <a href=".">Nexus Ventures</a>
            </div>

          </div>
        </div>
      </footer>
    </div>
  </body>
</html>