@import "bootstrap";
@import "font-awesome";


* {
  font-family: 'good-times-rg';
  src:font-url('good-times-rg.ttf');
  font-weight: normal;
  font-style: regular;
}

/* __________________________________________________________________________ */
/*
 * Globals
 */

/* __________________________________________________________________________ */



body {

position: relative;

background: url("/assets/tech1.jpeg") no-repeat center center fixed;

background-size: cover;

height: 100%;

position: bottom; 

width: 100%;
    
font-family: "good-times-rg";

}


/* __________________________________________________________________________ */




/* nav */

ul {
  list-style: none;
  position: relative;
  transform: rotate(-1deg) skew(9deg,20deg);
}


.list-item {
  background: #000;
  color: #575757;
  text-align: center;
  height: 2.5em;
  width: 4em;
  vertical-align: middle;
  line-height: 2.5em;
  border-bottom: 1px solid #070707;
  position: relative;
  display: block;
  text-decoration: none;
  box-shadow: -2em 1.5em 0 #000;
  transition: all .25s linear;
  opacity: 0.8;
  
  &:hover {
    background: #fff;
    color: #000;
    transform: translate(.9em, -.9em);
    transition: all .25s linear;
    box-shadow: -2em 2em 0 #e1e1e1;
    
    &:before, 
    &:after { 
      transition: all .25s linear; 
    }
    
    &:before {
      background: #00ff3e;
      width: 1em;
      top: .5em;
      left: -1em;
    }
    
    &:after {
      background: #00ff3e;
      width: 1em;
      bottom: -2.5em;
      left: 1em;
      height: 4em;
    }
  }
  
  &:before, 
  &:after {
    content: '';
    position: absolute;
    transition: all .25s linear;
    width: .5em;
  }

  &:after {
    height: 4em;
    background: #181818;
    bottom: -2.25em;
    left: 1.5em;
    transform: rotate(90deg) skew(0,45deg);
  }
  
  &:before {
    height: 2.5em;
    background: #121212;
    top: .25em;
    left: -.5em;
    transform: skewY(-45deg);
  }
}




/* __________________________________________________________________________ */

 #particles-js {
   width: 100%;
   height: 100%;
   color: white;
   position: absolute;
 }

/* __________________________________________________________________________ */

div.transbox {
  margin: 30px;
  background-color: #000;
  border: 1px solid black;
  opacity: 0.8;
  filter: alpha(opacity=90); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: "";
}


.glitch{
  color:white;
  font-size:15px;
  position:relative;
  width:400px;
  margin:0 auto;
}
@keyframes noise-anim{
  $steps:7;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:7;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue; 
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}

/* __________________________________________________________________________ */




a,
a:focus,
a:hover {
font-family: "good-times-rg";
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;

}

.btn-secondary:hover {
     color: #39ff14;
     background-color: #3f704d;
}


/*
 * Base structure
 */

html,
body {
  height: 120%;
  font-family: "good-times-rg";
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  font-family: "good-times-rg";

}



/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */
/*





/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}

.cover-container {
  position: top;

}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 55rem;
  }
}


/*
 * custom stylez
 */




.card-block {
  color: black;
  text-align: left;
}


.row md-padding {
    padding: 20px;  
}


hr {

    height: 2px;

    background-color:#fff;

    margin-top: 20px;

    margin-bottom: 20px;

    width: 75%;
}

.auth-links a {
      color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #ebc944;
  border: .05rem solid #D3B53D;
}

.register-text{
  text-align: right;
}




.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  margin-top: 50px;

}

