@import "bootstrap";

@import "font-awesome";



@-ms-viewport{
  width: device-width;
  overflow: none;
    width: extend-to-zoom 980px;
    min-zoom: 0.25;
    max-zoom: 5;
}



body, html {

  /*
  cursor: url("/assets/cursor.svg"), pointer;
 */


}




/* __________________________________________________________________________ */
/*
 * Globals
 */

body {

background: url("/assets/grass.jpeg") no-repeat top center fixed;


background-position: left top;

background-repeat: no-repeat;

background-attachment: fixed;


background-size: 100vmax 100vmax;

-webkit-background-size: 100vmax 100vmax;
-moz-background-size: 100vmax 100vmax;
-o-background-size: 100vmax 100vmax;


z-index: -10000;


}



/* _________HEADER TEXT DISSAPEAR NAV______________________________ */


.hero {
  position: relative;
  height: 110vh;
  z-index: -11;
  background: url("/assets/daisy.jpeg") center no-repeat;
  opacity: 1;

     -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.7)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,0));

}


/* ===================================== */
/* ===== THE INTERESTING STUFF NOW ===== */
/* ===================================== */

.navbar {
  z-index: 4;
  border: none;
  transition: .7s;
  width: 100%;
  position: fixed;
  text-align: center;


/* --- navbar sizes --- */
/* --- navbar colors --- */


}

.navbar-brand {
  line-height: 30px;  
  font-size: 1.8rem;
  text-align: center;
  font-weight: 500;
  color: #fff;
  font-family: monospace;
  padding-left: 120px;
}


.navbar--size--xl {
  padding: 80vh 0;
}
.navbar--size--lg {
  padding: 2rem 0;
}
.navbar--size--md {
  padding: 1.6rem 0;
}
.navbar--size--sm {
  padding: 1;
}


.navbar--color--white {
  background: #fff;
}

.navbar--color--primary {
  background: rgba(139,0,139,0.3);
    z-index: 4;

}

.navbar--color--secondary {
  background: #43a6dd;
}

.navbar--color--ghost {
  background: rgba(0,0,0,0.7);

}
.navbar--color--ghost a {
  color: #fff;
}

.btn btn-outline-info {
  font-color: white;
}

.navbar-right {
  float: right;
  position: right;
}

/* ____________________convincing scroll down arrow_________________________________ */



.d {
  border: 5px solid #39ff14;
  border-radius: 50%;
  color: #39ff14;
  text-align: center;
  
  bottom: 105vh;
  display: block;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  z-index: 0;
  height: 100px;
  line-height: 100px;
  width: 100px;
  
  -webkit-animation: a 1.7s infinite;
  -moz-animation: a 1.7s infinite;
  -o-animation: a 1.7s infinite;
  animation: a 1.7s infinite;
  
  -webkit-transition: bottom 1s ease;
  -moz-transition: bottom 1s ease;
  -o-transition: bottom 1s ease;
  transition: bottom 1s ease;

}

.a {
  border-right: 5px solid #39ff14;
  border-bottom: 5px solid #39ff14;
  border-radius: 5px;
  color: #39ff14;
  display: inline-block;
  font-size: 0;
  height: 50px;
  line-height: 0;
  margin-top: -25px;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  z-index: 0;

  
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(45deg);
}

@-webkit-keyframes a {
  0%   { opacity: .3; }
  50%   { opacity: 1; }
  100% { opacity: .3; }
}

@-moz-keyframes a {
  0%   { opacity: .3; }
  50%   { opacity: 1; }
  100% { opacity: .3; }
}

@-o-keyframes a {
  0%   { opacity: .3; }
  50%   { opacity: 1; }
  100% { opacity: .3; }
}

@keyframes a {
  /*0%   { opacity: .3; }
  50%   { opacity: 1; }
  100% { opacity: .3; }*/
  
  0%   { border-color: #eee; }
  50%   { border-color: #555; }
  100% { border-color: #eee; }

}




/* ___________________________SIDEBAR JANK_________________________________ */




/* _____________________MOBILE NAV CONDITIONAL JANK_______FIX THIS SOON_________________ 

@media (min-width: 768px) {
    .mobile-nav {
        display: none;
    }
    .box {
        display: none;
    }
    .items {
        display: none;
    }

}


@media (max-width: 768px) {

    .nav {
      flex: 0.5;
    }
    .sidebar {
      display: none;
    }



*/

      .mobile-nav{
            box-sizing: border-box;
          }


          #page-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }

          #title {
            color: #f7f7f7;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            font-size: 2em;
          }

          #btn {
            position: fixed;
            z-index: 5;
            top: 52px;
            left: 40px;
            cursor: pointer;
            transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
            transform: scale(2.3, 2.3);

          }

          #btn div {
            width: 40px;
            height: 2px;
            margin-bottom: 8px;
            background-color: #00DFFC;
            transition: opacity 500ms, background-color 250ms, -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
            transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, background-color 250ms;
            transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, background-color 250ms, -webkit-transform 300ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
          }

          #btn.active {
            left: 180px;
          }
          #btn.active div {
            background-color: #fff;
          }
          #btn.active #top {
            -webkit-transform: translateY(10px) rotate(-135deg);
                    transform: translateY(10px) rotate(-135deg);
          }
          #btn.active #middle {
            opacity: 0;
            -webkit-transform: rotate(135deg);
                    transform: rotate(135deg);
          }
          #btn.active #bottom {
            -webkit-transform: translateY(-10px) rotate(-45deg);
                    transform: translateY(-10px) rotate(-45deg);
          }

          #box {
            position: fixed;
            z-index: 4;
            overflow: none;
            top: 0px;
            left: -275px;
            width: 275px;
            opacity: 0;
            padding: 20px 0px;
            background-color: #000;
            height: 100%;
            color: #343838;
            transition: all 300ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
          }

          #box.active {
            left: 0px;
            opacity: .85;
          }

          #items {
            position: relative;
            top: 30%;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
          }

          #items .item {
            position: relative;
            cursor: pointer;
            font-size: 2em;
            padding: 15px 30px;
            transition: all 250ms;
          }

          #items .item:hover {
            padding: 15px 45px;
            background-color: #C7C7C7;
          }

          #btn, #btn * {
            will-change: transform;
          }

          #box {
            will-change: transform, opacity;
          }




/* __________________________________________________________________________ */

/* nav 3d icons */

ul {
  list-style: none;
  position: absolute;
  transform: rotate(0deg) skew(0deg,0deg);
  transform: scale(2, 2);
}


.list-item {
  background: #000;
  color: #fff;
  font-family: monospace;
  text-align: center;
  height: 2.5em;
  width: 4em;
  vertical-align: middle;
  line-height: 2em;
  border-bottom: 1px solid #070707;
  position: relative;
  display: block;
  text-decoration: none;
  box-shadow: -2em 1.5em 0 #000;
  transition: all .25s linear;
  opacity: 0.85;
  
  &:hover {
    background: #fff;
    color: #07cff6;
    transform: translate(.9em, -.9em);
    transition: all .15s linear;
    box-shadow: -2em 2em 0 #e1e1e1;


    &:before, 
    &:after { 
      transition: all .05s linear; 
    }
    
    &:before {
      background: #00ff3e;
      width: 1em; /* here for expanded left side 3d box shadow colored */
      top: .4em;
      left: -.97em;
    }
     
    &:after {
      background: #00ff3e;
      width: 1em;
      bottom: -2.5em;
      left: 1em;
      height: 4em;
    }
  }
  
  &:before, 
  &:after {
    content: '';
    position: absolute;
    transition: all .05s linear;
    width: .5em;
  }

  &:after {
    height: 4em;
    background: #181818;
    bottom: -2.25em;
    left: 1.5em;
    transform: rotate(90deg) skew(0,45deg);
  }
  

  &:before {
    height: 2.5em;
    background: #121212;
    top: .25em;
    left: -.5em;
    transform: skewY(-45deg);
  }
}




/* __________________________________________________________________________ */

 #particles-js {
   width: 100vw;
   height: 100vh;
   z-index: -10;
   color: white;
   position: fixed;
 }

/* ___________________ BOX____________________________________ */












/* __________________________________________________________________________ */

/* ___________________________EXPANDING BLOCK_________________________________ */


      *::before,
      *::after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
      }
      @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
      }
      @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
      }

      .flex {
        min-height:100vh;
        display:flex;
        align-items:center;
        justify-content:center;
      }

      .block {
        height:200px;
        width:200px;
        opacity: 0.7;
        color:#000;
        border-top:1px solid rgba(255,255,255,0.1);
        border-bottom:1px solid rgba(0,0,0,0.1);
        text-align:center;
        vertical-align: middle;
        line-height: 200px;
        font-size:18px;
        text-shadow: .5px .5px #000;
        font-family: monospace;
        position:relative;
        background-color:#fff;
        box-shadow: 11px 11px 3px 1px rgba(0, 0, 255, .1);
        transition:0.3s all ease;
        .smallblockcontent {
          opacity:0;
          -webkit-animation: fadein 3s forwards;
          animation: fadein 2s forwards;
          animation-delay:0.5s;
        }
        &.expanded {
          transition:0.4s all ease;
          width:900px;
          height:500px;
          padding:40px;
          line-height:normal;
          background: #644cad;
          background: -moz-linear-gradient(left, #000 -20%, #fff 80%);
          background: -webkit-linear-gradient(left, #000 -20%, #fff 80%);
          background: linear-gradient(to right, #000 -20%, #fff 80%);
          .smallblockcontent {
            display:none;
          }
        }
        .content {
          text-align:left;
          display:none;
          opacity:0;
          &.display {
            -webkit-animation: fadein 3s forwards;
            animation: fadein 2s forwards;
            animation-delay:0.5s;
            display:block;
          }
        }

        a {
          position:absolute;
          top:0;
          bottom:0;
          left:0;
          right:0;
          z-index:2;
        }
      }




/* __________________________FLOATING CONTACT________________________________ */

form {
  text-align: center;
}

label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}
label .label-text {
  color: #c0c0c0;
  cursor: text;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  transition: all 0.3s;
}
label input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color: #c0c0c0;
  font-size: 36px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 400px;
}
label input:focus {
  max-width: 100%;
  width: 400px;
}
label input:focus + .label-text {
  color: #f0f0f0;
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}
label input:valid + .label-text {
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

button {
  background-color: #333333;
  border: 2px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
}
button:hover, button:focus {
  background-color: white;
  color: #333333;
  outline: 0;
}




/* __________________________DEFAULT JANK_________________________________ */


a,
a:focus,
a:hover {

  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: 3px; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .15rem solid #39ff14;
  top: 80px;
  transform: scale(1.5, 1.5);


}

.btn-secondary:hover {
     color: #39ff14;
     background-color: #3f704d;
     transform: scale(2.5, 2.5);
     top: 80px;
}

.btn-outline-success, .btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:visited {
    font-size: 1.7em;
    outline-color: #fff;
    color: #fff !important;
    float: right;
  }



.center-block {
  float: none;
}

/*
 * Base structure
 */




/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */
/*





/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}

.cover-container {
  position: top;

}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 50rem;
  }
}


/*
 * custom stylez
 */

h1 {
    padding-top: 2em;
    text-align: center;
    line-height: 1.3em;
    font-family: monospace;
}

h2 {
    color: #fff;
    text-align: center;
    font-family: monospace;
    line-height: 2em;
    font-size: 2.1rem;

}

h3 {
    color: #fff;
    text-align: center;
    font-family: monospace;
    line-height: 1.5em;
    font-size: 1.7rem;
}

p {
    text-align: center;
    font-family: monospace;
    line-height: 1.8em;
    font-size: 1.5rem;
}

p-small {
    color: #fff;
    text-align: center;
    font-family: monospace;
    line-height: .8em;
    font-size: .5rem;
}


@-webkit-keyframes blink { 50% { border-color: #fff; }  }

.card {
  color: black;
  text-align: left;
  background: #fff;
  opacity: 0.8;
  border: .5rem solid #39ff14;
  -webkit-animation: blink .7s step-end infinite alternate; 
  text-align: center;
  padding: 50px;
}


.card-darkbg {
  color: black;
  text-align: left;
  background: #000;
  opacity: 0.9;
  border: .5rem solid #39ff14;
  -webkit-animation: blink .75s step-end infinite alternate; 
  text-align: center;
  padding: 50px;
}


.card-block {
  color: black;
  text-align: left;
  background: #fff;
  opacity: 0.7;

}


.row md-padding {
    padding: 20px;  
}


hr {

    height: 2px;

    background-color:#fff;

    margin-top: 20px;

    margin-bottom: 20px;

    width: 50%;

    margin-left:25% !important;

    margin-right:25% !important;
}

.auth-links a {
      color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #ebc944;
  border: .05rem solid #D3B53D;
}

.register-text{
  text-align: right;
}




.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  margin-top: 50px;

}

 