@import "bootstrap";
@import "jquery-ui";

:root {
  --jumbotron-padding-y: 3rem;
}

.video {
 position: fixed;
 top: 50%; left: 50%;
 z-index: -1;
  height: 100vh;
  width: 100vw;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);

}



.album {
  z-index: 0 !important; 
}

.jumbotron-heading {
  text-color: #fff !important;
  float: auto;
}

.jumbotron {
  padding-top: 0;
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0px;
  z-index: 2;
  background-color: #fff;
  opacity: .95;
  height: 400px;
  font-size: 30px;
}


.card {
  opacity: 0.95;
}
.collapse .bg-dark {
  z-index: 2;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 5vh;
    padding-bottom: 30vh;
    width: 20vw;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0px;
}

.jumbotron-heading {
  font-weight: 300;
  font-color: #fff;
}

.jumbotron .container {
  max-width: 20rem;
  height: 20vh;

}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


.dropzone {
  height: 180px;
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 1em 0.75em;

  border: solid .5px #fff;

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}



.drag-drop.can-drop {
  width: 200px;
  height: 150px;
  background-color: #1DA1F2;
  -webkit-animation: wobble 5s infinite alternate;
          animation: wobble 5s infinite alternate;
  opacity: 0.8;
}

@-webkit-keyframes wobble {
  from {
    border-radius: 150% 100% 100% 100%;
  }
  33% {
    border-radius: 100% 150% 100% 100%;
  }
  66% {
    border-radius: 100% 100% 150% 100%;
  }
  to {
    border-radius: 100% 100% 100% 150%;
  }
}

@keyframes wobble {
  from {
    border-radius: 150% 100% 100% 100%;
  }
  33% {
    border-radius: 100% 150% 100% 100%;
  }
  66% {
    border-radius: 100% 100% 150% 100%;
  }
  to {
    border-radius: 100% 100% 100% 150%;
  }
}
