@import "bootstrap";
@import "jquery-ui/all";

:root {
  --jumbotron-padding-y: 3rem;
}

.video {
 position: fixed;
 top: 50%; left: 50%;
 z-index: -1;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
}



.album {
  z-index: 0 !important; 
}

.jumbotron-heading {
  text-color: #fff !important;
  height: 50vh;
  float: auto;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0px;
  z-index: 2;
  background-color: #fff;
  opacity: .85;

}


.card {
  opacity: 0.95;
}
.collapse .bg-dark {
  z-index: 2;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 20vh;
    padding-bottom: 45vh;
    width: 20vw;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0px;
}

.jumbotron-heading {
  font-weight: 300;
  font-color: #fff;
}

.jumbotron .container {
  max-width: 20rem;
  height: 50vh;

}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
